@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
body, html {
    height: 100%;
}

html {
    font-size: 1.5rem;
}

#main {
    margin: 0;
    padding: 0 !important;
    height: 100%;
}

.login-form {
    width: 400px;
    margin: 100px auto;
}

.form-app {
    padding: 30px 0;
    width: 400px;
    margin: 0 auto;
}

.login-form .btn, .signup-form .btn, .form-app .btn {
    width: 200px;
}

.signup-form {
    width: 80%;
    margin: 100px auto;
}

/* .signup-form form {
    border-radius: 10px; 
    margin-bottom: 50px;
    background: #f7f7f7e7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
} */

/* 
.login-form form {
    border-radius: 10px; 
    margin-bottom: 50px;
    background: #f7f7f7e7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
} */

.login-form h2 {
    margin: 0 0 15px;
}

.admin-form {
    width: 340px;
    margin: 200px auto;
    font-family: 'Courier New', Courier, monospace;
}

.admin-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.icon-trips {
    width: 50%;
    display: block;
    margin: 30px auto;
}

.img-login {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.img-signup {
    width: 20%;
    display: block;
    margin-bottom: 30px;
}

.img-paypal {
    width: 30%;
    margin: 0 auto;
    display: block;
}

.img-paypal-widget {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.logo-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
}

.login-title {
    font-family: 'Bungee Shade', cursive;
}

.profile-image {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
    display: none;
}

.img-profile {
    height: 100%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text-center {
    text-align: center
}

.title {
    font-size: 25px;
}

.wallet {
    font-size: 40px;
}

.home-button {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.topup-form {
    width: 500px;
    margin: 50px auto;
}

.topup-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.image-cropper {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.user-image {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.buttons-menu {
    width: 100%;
}

.backoffice {
    font-family: 'Courier New', Courier, monospace;
}

.mdl-layout__drawer {
    border: 0 !important;
}

.user-icon {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.img-car-info {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.bg {
    background-image: url("../images/appPictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.profile-picture-background {
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    margin: 0 auto;
    border-radius: 100%;
}

.footer-background {
    background-color: #111;
}

.img-modal-pilot {
    width: 100%;
    border-radius: 5%;
}

#fileToUpload {
    visibility: hidden;
}

.padding-form {
    padding: 0 70px;
}

.is-valid {
    border-bottom: 1px solid #ced4da !important;
}

.is-invalid {
    border-bottom: 2px solid #9e0000 !important;
}

.background-color-index {
    background-color: #01579b;
}

a {
    color: #004d40;
}

footer a {
    color: white;
}

.trips-buttons img {
    width: 50px;
    padding: 15px 5px 0 5px;
    
}

@media only screen and (max-width: 600px) {
    /* * {
        font-size: 105%;
    } */
    html {
        font-size: 1.6rem;
    }
    .image-cropper {
        width: 130px;
        height: 130px;
    }
    .img-profile {
        width: 80%;
    }
    .img-paypal {
        width: 80%;
    }
    .logo-title {
        font-size: 35px;
    }
    .home-button {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .login-form, .signup-form {
        margin-top: 30px;
        padding: 0 15px;
        width: 90%;
    }
    .form-app {
        width: 90%;
        margin: 0 auto;
    }
    .padding-form {
        padding: 0;
    }
    .login-form .btn, .signup-form .btn {
        width: 300px;
    }
    .btn-mobile {
        max-width: 100%;
    }
}